<div class="container mt-2">
  <ng-container *ngIf="calendars | async as listCustomers; else failureOrLading">
    <div class="card">
      <div class="card-header">Agendas</div>

      <div class="card-body">
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCalendars()">
            <div class="input-group">
              <label class="input-group-text">Keyword :</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-info">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th style="text-align:center">Summary</th><th style="text-align:center">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of calendars | async">
            <td style="text-align:center">{{c.summary}}</td>
            <td style="text-align:center">{{c.description}}</td>
            <td>
              <button (click)="handleDeleteCalendar(c)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>
              <button (click)="handleUpdateCalendar(c)" class="btn btn-info">
                <i class="bi bi-input-cursor-text"></i>
              </button>
            </td>
            <td>
              <button (click)="handleDetails(c)" class="btn btn-success">
                <i class="bi bi-diagram-2-fill"></i>
              </button>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading .....
    </ng-template>
  </ng-template>
</div>
